<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.2.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
<form action="/pay" method="post">
    <div class="well well-sm">
        <h1>
            Checkout
        </h1>
    </div>
    <div class="container">
        <h3>Name </h3>
        <input th:value="${name}" name="name" type="text" value="Attila" required>
        <h3>Email </h3>
        <input th:value="${email}" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <h3>Phone Number </h3>
        <input th:value="${phoneNumber}" name="phoneNumber" type="text" pattern="[0-9]{10,}"
               placeholder="E.g 06703456789" required>
        <h3>Billing Country </h3>
        <input th:value="${billingCountry}" name="billingCountry" type="text" value="Hungary" required>
        <h3>Billing City </h3>
        <input th:value="${billingCity}" name="billingCity" type="text" value="Budapest" required>
        <h3>Billing Zip Code </h3>
        <input th:value="${billingZipCode}" name="billingZipCode" type="text" value="4444" required>
        <h3>Billing Address </h3>
        <input th:value="${billingAddress}" name="billingAddress" type="text" value="Nagymező utca 44." required>
        <h3>Shipping Country </h3>
        <input th:value="${shippingCountry}" name="shippingCountry" type="text" value="Hungary" required>
        <h3>Shipping City </h3>
        <input th:value="${shippingCity}" name="shippingCity" type="text" value="Budapest" required>
        <h3>Shipping Zip Code </h3>
        <input th:value="${shippingZipCode}" name="shippingZipCode" type="text" value="4444" required>
        <h3>Shipping Adress</h3>
        <input th:value="${shippingAddress}" name="shippingAddress" type="text" value="Nagymező utca 44." required>

        <br>
        <button type="submit" class="btn btn-success">Pay</button>

    </div>
</form>
<div th:replace="footer :: copy"></div>
</body>
</html>








