.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

/* Custom styles
*****************/
.jumbotron {
    background-color: steelblue;
}

.jumbotron h1 {
    color: #fff;
}

.filter-title {
    padding: 10px;
}

.filter {
    padding: 10px;
    border-radius: 2px;
    position: relative;
    border: 1px solid white;
}

.selected {
    background-color: #f5f5f5;
    border: 1px solid lightsteelblue;
}

.filter:hover {
    /*background-color: #eee;*/
    border: 1px solid lightsteelblue;

    cursor: pointer;
}

.fa-times {
    display: none;
    font-size: 16px;
}

.filter:hover .fa-times {
    display: inline;
    color: #333;
    padding: 6px;
    position: absolute;
    top: 6px;
    right: 7px;
    border-radius: 3px;
}

.filter:hover .fa-times:hover {
    color: #fff;
    background: lightcoral;
}

#cartButton {
    height: 40px;
    width: 80px;
    margin-top: 30px;
}

.fa-shopping-basket {
    font-size: 20px;
}

.footer {
    background-color: lightsteelblue;
}

/* Cart styles
****************/
.odd {
    background-color: #f5f5f5;
}

.table > tbody > tr:hover {
    background-color: #eee;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}

/* Responsive styles
*********************/

@media (max-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}
