.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

/* Filter Styles
****************/

.filter-title {
    padding: 10px;
    padding-top: 10px;
}

.filter {
    padding: 10px;
    border-radius: 2px;
}

.selected {
    border: 1px solid #aaa;
}

.filter:hover {
    background-color: #eee;
    cursor: pointer;
}

/* Cart Styles
****************/
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}
