<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="product/index :: head"></div>
<body>
    <div class="jumbotron text-center">
        <h1>AVco.py "SHOP"</h1>
    </div>
    <div class="container" id="payment-success">
        <h2 class="text-center">Order Confirmation</h2>
        <div class="text-left text-center-sm">
            <div>Thank you for your payment. Your transaction has been completed,
                and a receipt for your purchase has been emailed to you.
            </div>

            <h3>Order Details:</h3>

            <table id="cart" class="table table-hover table-condensed text-center" th:if="${not cart.isEmpty}">
                <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%" class="text-center">Price</th>
                    <th style="width:10%" class="text-center">Quantity</th>
                    <th style="width:30%" class="text-center">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterStat : ${cart}">
                    <td data-th="Product:">
                        <div class="row">
                            <div class="col-sm-10 text-left text-center-sm">
                                <h4 class="nomargin" th:text="${item.getProduct.getName}">Product 1</h4>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price:" class="text-center" th:text="${#numbers.formatCurrency(item.getProduct.getDefaultPrice)}">$1.99</td>
                    <td data-th="Quantity:" class="text-center"th:text="${item.quantity}"></td>
                    <td data-th="Subtotal:" id="subtotal" class="text-center"
                        th:text="${#numbers.formatCurrency(item.getLineItemsPrice)}">1.99</td>
                    <td></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="visible-xs">
                    <td class="text-center">
                        <strong th:text="'Total: ' + ${#numbers.formatCurrency(totalPrice)}">Total $1.99</strong>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center">
                        <strong th:text="'Total ' + ${#numbers.formatCurrency(totalPrice)}">Total $1.99</strong>
                    </td>
                </tr>
                </tfoot>
            </table>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h3>Billing Address:</h3>
                    <div th:text="${firstName} + ' '  + ${lastName}"></div>
                    <div th:text="${email}"></div>
                    <div th:text="${phoneNumber}"></div>
                    <p></p>
                    <div th:text="${billingCountry}"></div>
                    <div th:text="${billingCity} "></div>
                    <div th:text="${billingAddress}"></div>
                    <div th:text="${billingZipCode}"></div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <h3>Shipping Address:</h3>
                    <div th:text="${shippingCountry}"></div>
                    <div th:text="${shippingCity}"></div>
                    <div th:text="${shippingAddress}"></div>
                    <div th:text="${shippingZipCode}"></div>
                </div>
            </div>


        </div>

        <div class="row nav-buttons">
            <div class="button-sm text-left">
                <a href="/" class="btn btn-warning">
                    <i class="fa fa-angle-left"></i>
                    Continue Shopping
                </a>
            </div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>
</body>
</html>








