<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div id="content" th:fragment="shop">
    <div class="jumbotron text-center" ic-push-url="true">
        <h1>Codecool Shop</h1>
        <button th:class="${numberOfItems} > 0 ? 'btn btn-success' : 'btn btn-default'"
                th:attr="ic-get-from='/review-cart'" ic-target=".container" ic-replace-target="true">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            [[${numberOfItems}]]
        </button>

    </div>
    <div class="container" th:fragment="container">
        <div class="item col-xs-2 col-lg-2">
            <div class="well well-sm">
                <strong>Filters</strong>
            </div>
            <div class="filter-title"><strong>Product categories:</strong></div>
            <div th:each="cat : ${categories}" ic-push-url="true">
                <div class="filter" th:attr="ic-get-from='/' + ${cat.id}"
                     ic-target="#content" ic-replace-target="true">
                    [[${cat.name}]]
                </div>
            </div>
        </div>
        <div class="item col-xs-10 col-lg-10">
            <div class="well well-sm">
                <strong th:text="${category.name}">Category Title</strong>
            </div>
            <div id="products" class="row list-group">
                <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                            <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="btn btn-success" th:attr="ic-get-from='/add-to-cart/' + ${prod.id}" ic-target="#content" ic-replace-target="true">Add to cart</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>