<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="index :: head"></div>
<body>
    <div class="jumbotron text-center">
        <h1>AVco.py "SHOP"</h1>
    </div>
    <div class="container">
        <div class="text-center">
            <h2>
                Checkout
            </h2>
        </div>
        <form action="/payment" method="post">
            <div class="panel">

                <div class="row">
                    <div class="col-md-6">
                        <label for="firstName">First Name: </label>
                        <input class="checkoutInput" name="firstName" id="firstName" type="text" placeholder="Andreas" th:value="${firstName}"
                               required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName">Last Name: </label>
                        <input class="checkoutInput" name="lastName" id="lastName" type="text" placeholder="Smith" th:value="${lastName}"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="email">Email: </label>
                        <input class="checkoutInput" name="email" id="email" type="email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" th:value="${email}" placeholder="itswillbegood@worldspace.com"
                               required>
                    </div>
                    <div class="col-md-6">
                        <label for="phoneNumber">Phone Number: </label>
                        <input class="checkoutInput" name="phoneNumber" id="phoneNumber" type="text" pattern="[0-9]{10,}"
                               placeholder="06703456789" th:value="${phoneNumber}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="billingCountry">Billing Country </label>
                        <input th:value="${billingCountry}" name="billingCountry" id="billingCountry" type="text" placeholder="USA" value="Hungary" required>
                        <label for="billingCity">Billing City </label>
                        <input th:value="${billingCity}" name="billingCity" id="billingCity" type="text" placeholder="New York" value="Budapest" required>
                        <label for="billingZipCode">Billing Zip Code </label>
                        <input th:value="${billingZipCode}" name="billingZipCode" id="billingZipCode" type="text" placeholder="10044" value="4444" required>
                        <label for="billingAddress">Billing Address </label>
                        <input th:value="${billingAddress}" name="billingAddress" id="billingAddress" type="text" placeholder="Dont do 4" value="Nagymező utca 44." required>
                    </div>
                    <div class="col-sm-6">
                        <label for="shippingCountry">Shipping Country </label>
                        <input th:value="${shippingCountry}" name="shippingCountry" id="shippingCountry" type="text" placeholder="USA" value="Hungary" required>
                        <label for="shippingCity">Shipping City </label>
                        <input th:value="${shippingCity}" name="shippingCity" id="shippingCity" type="text" placeholder="New York" value="Budapest" required>
                        <label for="shippingZipCode">Shipping Zip Code </label>
                        <input th:value="${shippingZipCode}" name="shippingZipCode" id="shippingZipCode" type="text" placeholder="10044" value="4444" required>
                        <label for="shippingAddress">Shipping Address</label>
                        <input th:value="${shippingAddress}" name="shippingAddress" id="shippingAddress" type="text" placeholder="Dont do 4" value="Nagymező utca 44." required>
                        <input type="hidden" name="checkout" id="checkout" value="done">
                    </div>
                </div>
                <div class="row nav-buttons">
                    <div class="button-sm col-sm-6 text-center-sm">
                        <a class="btn btn-warning" href="/review-cart">
                            <i class="fa fa-angle-left"></i>
                            Back to Cart
                        </a>
                    </div>
                    <div class="button-sm col-sm-6 text-right text-center-sm">
                        <button type="submit" class="btn btn-success">Continue to pay  <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="footer :: copy"></div>
</body>
</html>








