<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="product/index :: head"></div>
<body>
<div class="jumbotron text-center">
    <h1>AVco.py "SHOP"</h1>
</div>
<div class="container text-center">
    <h2>Payment</h2>
    <h3>Thank you! Your order was successful! You can pay in cash to the dealer!</h3>
    <br>
    <img src="https://img00.deviantart.net/a63c/i/2012/089/c/1/cold_hard_cash_by_tastes_like_fry-d4uh3s5.png" alt="Smiley face" height="200" width="300">
    <br>
    <div class="row nav-buttons">
        <a class="btn btn-warning" href="/" ic-push-url="true">
            <i class="fa fa-angle-left"></i>
            Back To Continue Shopping
        </a>
    </div>
</div>
<div th:replace="footer :: copy"></div>
</body>
</html>








